<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale=1.5,user-scalable=1">
		<link rel = "icon" type = "image/png" href = "../images/ep.png">
		<title>Exponent Future</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel = "stylesheet" = href ="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "stylesheets/index.css">
		<script src = "../models/index.js"></script>

	</head>
	<body>
		<div class = "wrapper">
			<div id = "content">
				<nav class = "navbar navbar-light bg-transparent">
					<div class = "container-fluid">
						<button class = "btn btn-outline-success"type = "button"
							id = "Access" onclick = "openNav()">Access
						</button>
					</div>
				</nav>
			</div>
			<nav id = "sidebar">
				<div id = "closebar" onclick = "closeNav()">
					<i class = "fa fa-arrow-left">Hide</i>
				</div>
				<ul class = "list-group">
					<a href = "register"><i class = "fa fa-registered">Register</i></a>
					<a href = "login"><i class = "fa fa-sign-in">Login</i></a>
					<a href = "Stocks"><i class = "fa fa-bar-chart">Stocks</i></a>
					<a href = "Portfolio"><i class = "fa fa-briefcase">Portfolio</i></a>
					<a href = "learning"><i class = "fa fa-graduation-cap">Learning</i></a>

					<!--Main Page -->

				</ul>
				
			</nav>
			<div id = "MainPage"> 
				<p><h1>EXPONENT FUTURE</h1></p>
				<p><h3>Exponent Future is a website application that allows users to invest in Companies' shares and also learn more about investment</h3></p>
				<p><h5>It is exciting to use!</h5></p>
			</div>			
		</div>
		<div>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<p><h2>SIMPLICITY</h2></p>
			<img id = "simple" src = "../images/simplicity.png">
			<br />
			<br />
			<br />
			<p><h2>EDUCATIVE</h2></p>
			<img id = "educate" src = "../images/educative.jpg">
			<br />
			<br />
			<br />
			<p><h2>WEALTH CREATION AND ACCUMULATION</h2></p>
			<img id = "wealth" src = "../images/wealth2.jpg">
		</div>	
	</body>
</html>