<!DOCTYPE html>
<html>
	<head>
		<link rel = "icon" type = "image/png" href = "../images/login.jpg">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel = "stylesheet" = href ="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<title>Login</title>
		<link rel = "stylesheet" type = "text/css" href = "../public/css/login.css">
		<script src = "../public/models/login.js"></script>
	</head>
	<body>
		<form action = "/login" method = "post">
			<div class = "container">
				<nav class = "navbar navbar-light bg-transparent">
					<div class = "container-fluid">
						<a href = "/"><button class = "btn btn-outline-success" type = "button" id = "Exponential">EXPONENTIAL FUTURE</button></a>
					</div>
				</nav>
				<h1>LOGIN</h1>
				<p><label for = "email"><b>Email</b></label></p>
				<p><input type = "text" placeholder = "Enter Email..." name = "email" required="true"></p>
				<p><label for = "password"><b>Password</b></label></p>
				<p><input type = "password" placeholder = "Enter Password" name = "password" required = "true"></p>
				<p><button type = "submit" class = "registerbtn">Login</button></p>
			</div>
			<div class = "container signin">
				<p>Don't have an account?<a href = "register">Register</a></p>
			</div>

		</form>
	</body>
</html>