<!DOCTYPE html>
<html>
    <head>
        <link rel = "icon" type = "image.jpg" href = "../images/portfolio.jpg">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel = "stylesheet" href = "stylesheets/Stocks.css">
        <title>Portfolio</title>
        <link rel = "stylesheet" type = "text/css" href = "../models/css/Portfolio.css">
        <script src = "../models/Portfolio.js"></script>
    </head>
    <body>
        <nav class = "navbar navbar-light bg-transparent">
            <div class = "container-fluid">
                <a href = "learning"><button class = "btn btn-outline-success" type = "button" id = "Portfolio">Learning</button></a>
            </div>
        </nav>
    </body>
</html>