<!DOCTYPE html>
<html>
    <head>
        <link rel = "icon" type = "image.jpg" href = "../images/stocks3.jpg">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel = "stylesheet" type = "text/css" href = "../public/css/Stocks.css">
        <title>Stocks</title>
        <script src = "../node_modules/stocks.js"></script>
        <script src = "../public/models/Stocks.js"></script>
    </head>
    <body>
        <nav class = "navbar navbar-light bg-transparent">
            <div class = "container-fluid">
                <a href = "Portfolio"><button class = "btn btn-outline-success" type = "button" id = "Portfolio">Portfolio</button></a>
            </div>
        </nav>
    </body>
</html>