body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	color: #4612e2;
	margin: 20px 0px 0px 0px;
	font: bolder;
}

input[type=text], input[type=password] {
	width:50%;
	padding:15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background:#f1f1f1;

}

input[type=text]:focus,input[type=password]:focus {
	background-color:white;
	outline:none;
}

.container {
	padding: 16px;
	background-color: grey;
	background-image: url("../../images/whitestocks8.jpg");
}

.registerbtn {
	background-color: grey;
	color: white;
	font: bolder;
	padding: 15px 50px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
	font-size: inherit;
	opacity: 0.5;
}

.registerbtn:hover {
	background-color: #4CAF50;
	opacity: 1;
}

a {
	color: white;
}

.btn {
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	transition-property: color, background-color, border-color, box-shadow;
	transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
	transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	transition-delay: 0s, 0s, 0s, 0s;
	overflow: visible;
	margin: 0px;
	font: bold;
	font-size: 20px;
	font-family: inherit;
	box-sizing: border-box;
	text-rendering: auto;
	position: fixed;
}

.btn-outline-success {
	color: #28a745;
	background-color: transparent;
	background-image: none;
	border-color: #28a745;
}